<header id="header" class="w-100 position-fixed">
    <div class="container position-relative">
      <div class="row ">
        <div class="col-12">
          <div class="header-block d-flex justify-content-between align-items-center flex-column flex-lg-row-reverse position-relative">
            <div class="main-header-block d-flex align-items-center w-100">
              <div class="logo logo-blue">
                <a class="navbar-brand d-block" routerLink="home" href="home">
                  <figure>
                    <img src="assets/logo.png" alt="site logo">
                  </figure>
                </a>
              </div>
              <div class="logo logo-black">
                <a class="navbar-brand d-block" routerLink="home" href="home">
                  <figure>
                    <img src="assets/logo-black.png" alt="site logo">
                  </figure>
                </a>
              </div>
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bar top"></span>
                    <span class="bar middle"></span>
                    <span class="bar bottom"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="navbar-nav w-100 d-lg-flex justify-content-end">
                    <li class="nav-item dropdown">
                      <button class="nav-link dropdown-toggle border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/wordpress" href="wordpress">WordPress</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/shopify-services" href="shopify-services">Shopify Services</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/magento" href="magento">Magento</a> </li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/node" href="node">Node</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/python" href="python">Python</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/reactjs" href="reactjs">React Js</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/flutter-development" href="flutter-development">Flutter Development</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/unity-app" href="unity-app">Unity App</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/ppc" href="ppc">PPC</a> </li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/seo" href="seo">SEO</a></li>
                        <li><a class="dropdown-item"  routerLinkActive="active" routerLink="/blockchain" href="blockchain">Block Chain</a></li>
                      </ul>
                    </li>
                    <li class="nav-item position-relative"><a class="nav-link text-capitalize"  routerLinkActive="active" routerLink="work" href="work">Work</a></li>
                    <li class="nav-item position-relative"><a class="nav-link text-capitalize"  routerLinkActive="active" routerLink="clients" href="clients">Clients</a> </li>
                    <li class="nav-item position-relative"><a class="nav-link text-capitalize"  routerLinkActive="active" routerLink="contact" href="contact">Contact</a></li>
                    <li class="nav-item position-relative"><a class="nav-link text-capitalize"  href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Request A Proposal</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div class="mega-wrap d-flex justify-content-end">
        <a class="dropdown-item" href="#">Shield Kit</a>
        <a class="dropdown-item" href="#">Refills</a>
      </div>
    </div> -->
  </header>