<footer id="footer" class="overflow-hidden position-relative">
    <div class="container">       
        <div class="row footer-links-box text-white text-center text-md-start pb-md-5">
          <div class="col-md-4">
            <div class="logo mb-5">
              <a href="#">
                <img class="m-auto m-md-0" src="assets/logo.png" alt="logo">
              </a>
            </div>
            <ul class="ulwithicons">
              <li><a href="tel:+12018627987"><span class="icons icon-phone-call d-inline me-3"></span>+1 201 862 7987</a></li>
              <li><a href="mailto:support@teknohus.com"><span class="icons icon-mail d-inline me-3"></span>support@teknohus.com</a></li>
            </ul>
          </div>
           <div class="col-md-2">
            <div class="link-hol">
              <span class="title d-inline-block text-capitalize">Services</span>
              <ul>
                <li><a class="text-capitalize" href="#">Household</a></li>
                <li><a class="text-capitalize" href="#">Business</a></li>
                <li><a class="text-capitalize" href="#">Carvan/Motorhome</a></li>
                <li><a class="text-capitalize" href="#">Cars</a></li>
                <li><a class="text-capitalize" href="#">Archives</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="link-hol">
              <span class="title d-inline-block text-capitalize">links</span>
              <ul>
                <li><a class="text-capitalize" href="#">Home</a></li>
                <li><a class="text-capitalize" href="#">About</a></li>
                <li><a class="text-capitalize" href="#">Contact</a></li>
                <li><a class="text-capitalize" href="#">blog</a></li>
                <li><a class="text-capitalize" href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="link-hol">
              <span class="title d-inline-block">Subscribe to our Newsletter</span>
              <!-- <form class="form-inline justify-content-end">
                <div class="form-group position-relative w-100 m-0">
                  <input type="email" class="form-control w-100" placeholder="Your email address">
                  <button type="submit" class="button position-md-absolute text-uppercase">Subscribe</button>
                </div>
              </form> -->
            </div>
            <ul class="social d-flex align-items-center justify-content-center justify-content-md-start mb-3 mt-md-4">
              <li><a class="icon-facebook" href="#"></a></li>
              <li><a class="icon-twitter" href="#"></a></li>
              <li><a class="icon-instagram" href="#"></a></li>
              <li><a class="icon-google" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright-hol">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 text-center">
              <p class="copyright mb-2 mb-md-0"> © 2020 <a href="#">teknohus</a> Ins. All rights reserved.</p>
            </div> 
          </div>
      </div>
    </div>
  </footer>