<div class="container">
    <div class="row">
    <div class="col-12">
    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="fullname">Full Name</label>
						<input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="Email">Email</label>
						<input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="text" class="form-control" name="phone" placeholder="Phone Number" formControlName="phone">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="file">Attached File</label>
						<input type="file" class="form-control-file" id="file" formControlName="file">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="comment">Comment</label>
						<textarea class="form-control" formControlName="Comment" name="Comment">
						</textarea>
					</div>
				</div>
			</div>
    	<button type="submit" class="btn" [disabled]="!FormData.valid">Submit</button>
    </form>
    </div>
    </div>
    </div>