
<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
  <div class="container-custom position-relative h-100">
    <div class="visual-content text-center">
      <h1 class="mb-3 mb-md-4 text-uppercase">Our <span class="mustard">Clients</span></h1>
      <div class="btn-hol">
        <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
      </div>
  </div>
</div>
</section>
<main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="lets-talk position-relative">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="talk-wrap">
                  <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                  <div class="img-hol mb-5 mb-md-0">
                    <img src="assets/talk-img.png" alt="talk image">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="talk-wrap">
                  <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                  <div class="talk-form">
                    <app-contact-form></app-contact-form>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<!-- client block -->
<section class="ourwork-block client-wrap-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
         <div class="heading text-center">
           <h1>Clients</h1>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="testimonial-wrap">
         <div class="img-hol mb-4"><img src="assets/testimonial-img.jpg" alt="testimonial-img"></div>
         <div class="name-block">
           <strong class="name d-block mb-3">Martin</strong>
           <div class="star d-inline">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
           </div>
         </div>
         <div class="testimonial-content">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>


<section class="companions overflow-hidden client-companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
          <p class="text-uppercase">Meet the world visionaries who partnered with <b>Tecknohus</b> and brought life to their businesses.</p>
        </div>
      </div>
    </div>
    <div class="row logo-slider">
      <div class="col-12">
        <div class="logo-wrap">
          <ngx-slick-carousel class="carousel " 
                #slickModal="slick-carousel" 
                [config]="slideConfiglogolist">
                <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                  <ul class="d-flex logo-list flex-wrap">
                    <li>
                      <img src="assets/logo1.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo2.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo3.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo4.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo5.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo6.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo7.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo8.png" alt="logo image" class="m-auto">
                    </li>
                  </ul>
                </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div> 
  </div>
</section>



</main>