<section class="visual-banner contact-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
        <h1 class="mb-3 mb-md-4 text-uppercase">Keep in <span class="mustard">touch</span></h1>
        <p class="mb-3 mb-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut.</p>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

<!-- Contact us block -->
<section class="contact-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
              <div class="talk-wrap">
                <h1 class="mb-3 mb-lg-5 text-uppercase bottom-line">Let's get started</h1>
                <p class="mb-3 mb-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut.</p>
                <div class="icon-hol mb-5 mb-md-0">
                    <ul class="ulwithicons">
                        <li><a href="tel:+12018627987"><span class="icons icon-phone-call d-inline me-3"></span>+1 201 862 7987</a></li>
                        <li><a href="mailto:support@teknohus.com"><span class="icons icon-mail d-inline me-3"></span>support@teknohus.com</a></li>
                        <li><a href="mailto:www.teknohus.com"><span class="icons icon-globe d-inline me-3"></span>www.teknohus.com</a></li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="talk-wrap">
                <div class="talk-form">
                  <app-contact-form></app-contact-form>
                </div>  
              </div>
            </div>
          </div>
    </div>
</section>

<!-- Map Image -->
<div class="map-img">
    <img src="assets/map.png" alt="map-img">
</div>
</main>