<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
        <h1 class="mb-3 mb-md-4 text-uppercase"><span class="mustard">We are experts in bringing</span><br>brands to life digitally.</h1>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

    
 <!-- work block -->
 <section class="ourwork-block">
   <div class="container">
     <div class="row">
       <div class="col-12">
          <div class="heading text-center">
            <h1>Work</h1>
          </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-6">
         <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
            <div class="img-block mb-5"><img src="assets/work1.png" alt="work image"></div>
            <div class="branding mb-4">
              <ul class="branding-list d-flex">
                <li>Branding</li>
                <li>Web Design</li>
                <li>Web Development</li>
              </ul>
            </div>
            <div class="project-title">
              <h2>CAC China</h2>
              <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
            </div>
           </a>
         </div>
       </div>
       <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
            <div class="img-block mb-5"><img src="assets/work2.png" alt="work image"></div>
          <div class="branding mb-4">
            <ul class="branding-list d-flex">
              <li>Branding</li>
              <li>Web Design</li>
              <li>Web Development</li>
            </ul>
          </div>
          <div class="project-title">
            <h2>Catevolution au</h2>
            <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
          </div>
          </a>
        </div>
       </div>
       <div class="col-md-6">
        <div class="work-shell">
         <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work3.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>Catevolution nz</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work4.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>Firepit</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work5.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>Geenie Travel Scarf</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work6.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>Hello Drama</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work7.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>Hoppi Box</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work8.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>my therapy office space</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work9.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>orumfy</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-shell">
          <a routerLinkActive="active" routerLink="work-detail" href="work-detail">
           <div class="img-block mb-5"><img src="assets/work10.png" alt="work image"></div>
           <div class="branding mb-4">
             <ul class="branding-list d-flex">
               <li>Branding</li>
               <li>Web Design</li>
               <li>Web Development</li>
             </ul>
           </div>
           <div class="project-title">
             <h2>the lab collective</h2>
             <p>We created a cutting edge platform for San Francisco-based firm Martin Building.</p>
           </div>
          </a>
        </div>
      </div>
     </div>
   </div>
 </section>



</main>