<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
        <h1 class="mb-3 mb-md-4 text-uppercase">A <span class="mustard">Digital Agency</span> That <br> Delivers Results.</h1>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-toggle="modal" data-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Advertising services -->
  <section class="advertising-service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center mb-5">
            <h1>Wide Range Of PPC Advertising Services</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Improve <br>ROI</strong>
            <p>With Expert PPC Advertising Tips and Campaigns, We can help you improve your return on investment and brand. An Effective PPC Strategy by PPC Services can help improve ROI for your business.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Campaign Reportbr <br> Management</strong>
            <p>An Expert Campaign Report Management Service Includes determining the current market position and implement verified PPC Strategies for positive results.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">PPC Landing Page <br> Creation</strong>
            <p>We can provide an effective PPC Campaign that generates more leads. Study proves that a good PPC Landing page provides great results in the PPC Campaign.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">More Leads & <br> Sales</strong>
            <p>We bring actionable methods to you so that you'll be able to easily get a lot of customer leads and higher number of sales.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Improved Paid <br> aTraffic</strong>
            <p>We Get the most recent & Best PPC service for your business that assures you with increased relavent paid traffic for your website.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">PPC Ad Campgain <br> Setup</strong>
            <p>Our PPC skillful professionals offer the best Ad campaign setup through PPC advertising service in order to achive online sales.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Creating <br> Ad CopyRight</strong>
            <p>Ad copyright creation aimed with developing distinctive campaign is substantial for the expansion and generating lots of advantages in a very short span of your time.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Reduced CPC - Cost <br> Per Click</strong>
            <p>Our PPC Professional team is the best in reducing total cost per conversion (CPC) and often strives to enhance the quality score level.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">BID <br> Management</strong>
            <p>This is the very important factor always heard with Pay Per Click. This super obvious management trick directly impacts the results for business growth.</p>
          </div>
        </div>
      </div>  
    </div>
  </section>

     <!-- Advertising accodian -->
  <section class="advertising-accordian bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center mb-5">
            <h1>How Does SEO Work?</h1>
            <p>Teknohusis not a one time effort. Nor is it something you can set on autopilot and expect great results. It involves a number of important, ongoing tactics and strategies, including:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  1-Exact Keyword Research
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">in order to focus on your services , we tend to conduct sample keyword analysis to <br> make ad groups and themed campaigns for relevant search phrases.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  2-Sponsored Ads Display
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">in order to focus on your services , we tend to conduct sample keyword analysis to <br> make ad groups and themed campaigns for relevant search phrases.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  3-Bid Management
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">in order to focus on your services , we tend to conduct sample keyword analysis to <br> make ad groups and themed campaigns for relevant search phrases.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                  4-Powerful Reporting & Tracking
                </button>
              </h2>
              <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">in order to focus on your services , we tend to conduct sample keyword analysis to <br> make ad groups and themed campaigns for relevant search phrases.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Benifits of SEO -->
  <section class="shopify-benefits bg-grey">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="shopify-bene-wrap">
            <h1>Benifits of SEO</h1>
            <ul class="check-project">
              <li>SEO Improves Your Site’s User Experience</li>
              <li>SEO Increases Brand Visibility</li>
              <li>SEO Builds Brand Credibility and Trust</li>
              <li>SEO is the Largest Source of Site Traffic</li>
              <li>SEO Provides You Great Insights</li>
              <li>SEO Does Not Involve Paid Ads</li>
              <li>SEO Helps in High ROI and Conversions </li>
              <li>SEO is a Long Term Strategy</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="img-hol">
            <img src="assets/seo.png" alt="seo-image">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- SEO Pricing -->
  <section class="seo-pricing">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center">
            <h1>Our SEO Pricing</h1>
            <p>At Teknohus you can get the plan and strategy that matches your exact needs and budget.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header bg-black">
                <h4 class="my-0 font-weight-normal">Silver Package</h4>
              </div>
              <div class="card-body">
                <span class="d-block">Is this plan right for your <br> business?</span>
                <p>This is the ideal plan for advertising a and bringing people within your community right to your doorstep.  </p>
                <a href="JavaScript:;" class="mb-3 mustard">Read More here</a>
                <span class="plans mb-3 d-block">Plans start at:</span>
                <strong class="card-title pricing-card-title mb-3 d-block">$699/month</strong>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              </div>
            </div>
            <div class="card mb-4 box-shadow middle-price-card">
              <div class="card-header bg-mastard">
                <h4 class="my-0 font-weight-normal">Golden Package</h4>
              </div>
              <div class="card-body">
                <span class="d-block">Is this plan right for your <br> business?</span>
                <p>This is the ideal plan for advertising a and bringing people within your community right to your doorstep.  </p>
                <a href="JavaScript:;" class="mb-3 mustard">Read More here</a>
                <span class="plans mb-3 d-block">Plans start at:</span>
                <strong class="card-title pricing-card-title mb-3 d-block">$999/month</strong>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header bg-black">
                <h4 class="my-0 font-weight-normal">Platinium Package</h4>
              </div>
              <div class="card-body">
                <span class="d-block">Is this plan right for your <br> business?</span>
                <p>This is the ideal plan for advertising a and bringing people within your community right to your doorstep.  </p>
                <a href="JavaScript:;" class="mb-3 mustard">Read More here</a>
                <span class="plans mb-3 d-block">Plans start at:</span>
                <strong class="card-title pricing-card-title mb-3 d-block">$1299/month</strong>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- trusted companions -->
<section class="companions overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
          <p class="text-uppercase">OUR CLIENTS ARE SOME OF THE MOST FORWARD-LOOKING COMPANIES AROUND THE GLOBE</p>
        </div>
      </div>
    </div>
    <div class="row logo-slider">
      <div class="col-12">
        <div class="logo-wrap">
          <ngx-slick-carousel class="carousel " 
                #slickModal="slick-carousel" 
                [config]="slideConfiglogolist">
                <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                  <ul class="d-flex logo-list flex-wrap">
                    <li>
                      <img src="assets/logo1.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo2.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo3.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo4.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo5.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo6.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo7.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo8.png" alt="logo image" class="m-auto">
                    </li>
                  </ul>
                </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div> 
  </div>
</section>

<!-- consults experts -->
<section class="consultant consultant-custom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading mb-5">
          <h1>Hire Us For PPC Management</h1>
          <p> If you’re interested in Our PPC Management Services, please reach us out to get the quotation.               </p>
        </div>
        <div class="btn-hol">
          <a href="JavaScript;:" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request a Proposal</a>
        </div>
      </div>
    </div>
  </div>
</section>


</main>