<app-header></app-header>
<router-outlet>
    <!-- <app-home></app-home>
    <app-magento></app-magento>
    <app-contact></app-contact>
    <app-ppc></app-ppc>
    <app-seo></app-seo>
    <app-services></app-services> -->
</router-outlet>
<app-footer></app-footer>