<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
          <div class="logo-magento text-center m-auto mb-lg-2">
              <img src="assets/magento-logo.png" alt="logo magento">
          </div>
        <h1 class="mb-3 mb-md-4 text-uppercase">Magento Development</h1>
        <p class="mb-5">Get one-stop <span class="mustard">Magento Solution</span> with us today</p>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-toggle="modal" data-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Advertising services -->
  <section class="advertising-service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center mb-5">
            <h1>Services We Offer</h1>
            <p>Teknohus delivers bespoke development solutions for your Magento-powered business. Whether it’s B2B or B2C, our team of front-end and back-end Magento developers will get full advantage of all Magento platform features and flexibility for each of your unique projects.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Magento Custom <br> Development</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Upgrade <br> to Magento 2</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Magento <br> B2B Implementation</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Magento <br> Maintenance</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Migration <br> to Magento 2</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Magento Cloud <br> Deployment Services</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <!-- Benifits of magento -->
   <section class="shopify-benefits bg-grey">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="shopify-bene-wrap">
            <h1>Benifits of Magento</h1>
            <ul class="check-project">
              <li>Improved Performance and Scalability</li>
              <li>Customer Persuasion</li>
              <li>A Very Powerful Platform</li>
              <li>Magento 2 is Mobile Friendly</li>
              <li>Advanced SEO Features</li>
              <li>A Huge Community</li>
              <li>Customisable Security Features</li>
              <li>Marketplace Integration</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="img-hol">
            <img src="assets/magento-laptop.png" alt="magento-image">
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- trusted companions -->
<section class="companions overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
          <p class="text-uppercase">OUR CLIENTS ARE SOME OF THE MOST FORWARD-LOOKING COMPANIES AROUND THE GLOBE</p>
        </div>
      </div>
    </div>
    <div class="row logo-slider">
      <div class="col-12">
        <div class="logo-wrap">
          <ngx-slick-carousel class="carousel " 
                #slickModal="slick-carousel" 
                [config]="slideConfiglogolist">
                <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                  <ul class="d-flex logo-list flex-wrap">
                    <li>
                      <img src="assets/logo1.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo2.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo3.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo4.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo5.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo6.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo7.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo8.png" alt="logo image" class="m-auto">
                    </li>
                  </ul>
                </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div> 
  </div>
</section>

<!-- consults experts -->
<section class="consultant consultant-custom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading mb-5">
          <h1>Hire Us For Magento Services</h1>
          <p> If you’re interested in Our PPC Management Services, please reach us out to get the quotation.               </p>
        </div>
        <div class="btn-hol">
          <a href="JavaScript;:" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request a Proposal</a>
        </div>
      </div>
    </div>
  </div>
</section>


</main>