<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
         <h1 class="mb-3 mb-md-4 text-uppercase">Planning to build an <br> <span class="mustard">ecommerse srtore?</span></h1>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-toggle="modal" data-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <form>
                        <div class="form-group">
                          <label for="name">Name*</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email*</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                          <label for="name">Subject</label>
                          <input type="text" class="form-control" id="subject">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Message</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Now!</button>
                      </form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Advertising services -->
  <section class="advertising-service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center mb-5">
            <h1>Wide Range Of PPC Advertising Services</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Improve <br>ROI</strong>
            <p>With Expert PPC Advertising Tips and Campaigns, We can help you improve your return on investment and brand. An Effective PPC Strategy by PPC Services can help improve ROI for your business.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Campaign Reportbr <br> Management</strong>
            <p>An Expert Campaign Report Management Service Includes determining the current market position and implement verified PPC Strategies for positive results.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">PPC Landing Page <br> Creation</strong>
            <p>We can provide an effective PPC Campaign that generates more leads. Study proves that a good PPC Landing page provides great results in the PPC Campaign.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">More Leads & <br> Sales</strong>
            <p>We bring actionable methods to you so that you'll be able to easily get a lot of customer leads and higher number of sales.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Improved Paid <br> aTraffic</strong>
            <p>We Get the most recent & Best PPC service for your business that assures you with increased relavent paid traffic for your website.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">PPC Ad Campgain <br> Setup</strong>
            <p>Our PPC skillful professionals offer the best Ad campaign setup through PPC advertising service in order to achive online sales.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Creating <br> Ad CopyRight</strong>
            <p>Ad copyright creation aimed with developing distinctive campaign is substantial for the expansion and generating lots of advantages in a very short span of your time.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Reduced CPC - Cost <br> Per Click</strong>
            <p>Our PPC Professional team is the best in reducing total cost per conversion (CPC) and often strives to enhance the quality score level.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">BID <br> Management</strong>
            <p>This is the very important factor always heard with Pay Per Click. This super obvious management trick directly impacts the results for business growth.</p>
          </div>
        </div>
      </div>  
    </div>
  </section>


  <!-- shopify benefits -->
  <section class="shopify-benefits">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="shopify-bene-wrap">
            <h1>Benefits of Shopify</h1>
            <ul class="check-project">
              <li>Keyword Researching and Selecting</li>
              <li>Ad Text Creation/Modification</li>
              <li>Landing Page Optimization</li>
              <li>Conversion Tracking</li>
              <li>Call Tracking</li>
              <li>Ad Submission</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="img-hol">
            <img src="assets/shopify-service.png" alt="shopify-image">
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- trusted companions -->
<section class="companions overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
          <p class="text-uppercase">OUR CLIENTS ARE SOME OF THE MOST FORWARD-LOOKING COMPANIES AROUND THE GLOBE</p>
        </div>
      </div>
    </div>
    <div class="row logo-slider">
      <div class="col-12">
        <div class="logo-wrap">
          <ngx-slick-carousel class="carousel " 
                #slickModal="slick-carousel" 
                [config]="slideConfiglogolist">
                <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                  <ul class="d-flex logo-list flex-wrap">
                    <li>
                      <img src="assets/logo1.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo2.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo3.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo4.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo5.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo6.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo7.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo8.png" alt="logo image" class="m-auto">
                    </li>
                  </ul>
                </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div> 
  </div>
</section>

<!-- consults experts -->
<section class="consultant consultant-custom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading mb-5">
          <h1>Hire Us For PPC Management</h1>
          <p> If you’re interested in Our PPC Management Services, please reach us out to get the quotation.               </p>
        </div>
        <div class="btn-hol">
          <a href="JavaScript;:" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request a Proposal</a>
        </div>
      </div>
    </div>
  </div>
</section>


</main>