<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
        <h1 class="mb-3 mb-md-4 text-uppercase"><span class="mustard">We are experts in bringing</span><br>brands to life digitally.</h1>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

    
 <!-- work detail -->
<section class="work-detail-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-laptop-block text-center">
                    <div class="laptop-img mb-4">
                        <img src="assets/image-1.png" alt="laptop image" class="m-auto">
                    </div>
                    <div class="site-title">
                        <h1 class="mustard">CAC China</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="brief-content">
              <div class="inner-head">
                <h2>The Brief</h2>
              </div>
              <div class="brief-content-wrap">
                <p>Since first established in New Jersey, U.S.A. in the 1990’s, C.A.C. 
                  has dedicated to expertly fulfilling industry needs in foodservice and hospitality
                   and strategically anticipating market trends. With steadily expanded and constantly
                    evolving line of foodservice supplies and equipment, we are committed to providing 
                    quality products and reliable services at the best value on the market.</p>
                <p>As an award-winning supplier of five prominent North American buying groups and a member of the North American
                   Association of Food Equipment Manufacturers, C.A.C. collaborates with hundreds
                    of foodservice dealers and chain restaurants nationwide, making our products seen almost everywhere.</p>    
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="work-detail-side">
              <div class="info-item">
                <span class="item-title mustard d-block">INVOLVEMENT</span>
                <ul class="info-list">
                  <li>Web Design</li>
                  <li>Web Development</li>
                </ul>
              </div>
              <div class="info-item">
                <span class="item-title mustard d-block">Visit</span>
                <a href="https://www.cacchinausa.com/">www.cacchinausa.com</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


</main>  