<section class="visual-banner inner-banner overflow-hidden position-relative m-auto">
    <div class="container-custom position-relative h-100">
      <div class="visual-content text-center">
        <h1 class="mb-3 mb-md-4 text-uppercase"><span class="mustard">PLANNING TO BUILD AN</span> <br> ECOMMERCE STORE?</h1>
        <p class="text-capitalize white mb-3 mb-md-5">Use The <span class="mustard">shopify</span> platform</p>
        <div class="btn-hol">
          <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
        </div>
    </div>
  </div>
</section>
  <main>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="lets-talk position-relative">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="talk-wrap">
                    <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                    <div class="img-hol mb-5 mb-md-0">
                      <img src="assets/talk-img.png" alt="talk image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="talk-wrap">
                    <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                    <div class="talk-form">
                      <app-contact-form></app-contact-form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

    
  <!-- Advertising services -->
  <section class="advertising-service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading text-center mb-5">
            <h1>Shopify Services We Offer</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Real-Time <br> App Development</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Microservices <br> Development</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Rich Portal<br>Development</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">Ecommerce<br>Solutions</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center light-blue">
            <strong class="title d-block mb-3">Social Networking<br>Application</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="service-wrap text-center">
            <strong class="title d-block mb-3">IoT-Based<br>Application</strong>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div>
        </div>
      </div>  
    </div>
  </section>


   <!-- Benifits of magento -->
   <section class="shopify-benefits bg-grey">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="shopify-bene-wrap">
            <h1>Benefits of shopify</h1>
            <ul class="check-project">
              <li>Quick Set Up And Easy Use</li>
              <li>Full Hosted Ecommerce Platform</li>
              <li>Security And Reliability</li>
              <li>Scalability</li>
              <li>24/7 Tech Support</li>
              <li>Payment Gateways</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="img-hol">
            <img src="assets/shopify-service.png" alt="shopify-service-image">
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="companions overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
          <p class="text-uppercase">OUR CLIENTS ARE SOME OF THE MOST FORWARD-LOOKING COMPANIES AROUND THE GLOBE</p>
        </div>
      </div>
    </div>
    <div class="row logo-slider">
      <div class="col-12">
        <div class="logo-wrap">
          <ngx-slick-carousel class="carousel " 
                #slickModal="slick-carousel" 
                [config]="slideConfiglogolist">
                <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                  <ul class="d-flex logo-list flex-wrap">
                    <li>
                      <img src="assets/logo1.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo2.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo3.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo4.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo5.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo6.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo7.png" alt="logo image" class="m-auto">
                    </li>
                    <li>
                      <img src="assets/logo8.png" alt="logo image" class="m-auto">
                    </li>
                  </ul>
                </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div> 
  </div>
</section>

<section class="consultant flutter-develop">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading">
          <h1>Hire Us For Node.js Development Services</h1>
          <p>If you’re interested in Our Node.js Development Services, please reach us out to get the quotation.</p>
        </div>
        <div class="btn-hol">
          <a href="JavaScript;:" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Request a Proposal</a>
        </div>
      </div>
    </div>
  </div>
</section>

</main>