 /*Font family*/


/*icomoon fonts*/

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icomoon.eot?g60gth');
  src:  url('../assets/icomoon.eot?g60gth#iefix') format('embedded-opentype'),
    url('../assets/icomoon.ttf?g60gth') format('truetype'),
    url('../assets/icomoon.woff?g60gth') format('woff'),
    url('../assets/icomoon.svg?g60gth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e909";
}
.icon-phone-call:before {
  content: "\e902";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-google:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}




body {font: 300 18px/22px 'Roboto', sans-serif !important; color: #000; letter-spacing: normal;min-width: 320px; position: relative; }
#wrapper, .main-content {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; 
}
.container {
	max-width: 1170px !important;
	padding: 0 15px;
}
ol, ul { list-style: none; }
ul { margin: 0; padding: 0; }
ul li { margin: 0;}
blockquote, q {
  quotes: none;
}
label{margin-bottom: 15px;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
p{ margin: 0 0 15px; font-size: 17px; line-height: 29px; color:#969393;font-family: 'Roboto', sans-serif; }
table { border-collapse: collapse; border-spacing: 0; }
sup { font-size: 0.83em; line-height: 0; vertical-align: super;}
sub {font-size: 0.83em; line-height: 0; vertical-align: sub;}
b, strong{ font-weight: 700;}
i, em{ font-style: italic; }
figure{ margin: 0; }
img { display: block; max-width: 100%; height: auto; }
a { color: #7c7b79;font-family: 'Roboto', sans-serif; text-decoration: none; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; outline: none !important;}
a:hover,
a:focus { outline: none; color: #f4b451; text-decoration: none;}
body, input, textarea, button, select{ font-family: 'Roboto', sans-serif !important; }
button{ background: #3f66db; color: #fff; }
button:hover{ background: #000; }
button,
button:hover,
button:focus,
button:active,
.slick-slide,
.navbar,
.navbar-toggler:focus,
.navbar-toggler:hover {outline: none;}
.btn.btn-border {border: 1px solid #f4b451 !important; background-color: transparent !important; color: #f4b451 !important;}
.btn.btn-border:hover {background-color: #7c7b79 !important; }
.btn-primary {color: #f4b451;}
.btn {
    position: relative !important;
    z-index: 1;
    background: #f4b451;
    border: 2px solid #f4b451;
    padding: 13px 20px;
    text-align: center;
    color: #fff;
    min-width: 160px;
    font: 500 16px/ 22px 'Roboto', sans-serif !important;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition: all .5s;
    text-transform: capitalize;
}
.btn:hover:after{ right: 20px; }
.btn:hover, .btn:focus, .btn:active {
  color: #fff!important;
  background: #000 !important;
  border: 2px solid #000;
  box-shadow: none !important;
  outline: none !important;
}
@media(min-width: 991.98px) {
  .btn {font-size: 18px !important; line-height: 18px !important;}
}

@media(min-width: 1199.98px){
  .btn { padding: 15px; min-width: 200px;}
  .btn:after{right: 35px;}
  .btn:hover:after{ right: 40px; }
}

::-moz-selection { color: #fff; background:#ffab28; }
::selection { color: #fff;background: #ffab28; }
input,
textarea,
select{ font-family: 'Roboto', sans-serif !important; font-weight: 300; border: 1px solid #e1e1e1; width: 100%;}
.form-control {height: 50px; border-color: #dadada; border-radius: 2px; margin-bottom: 0}
textarea{ resize: none; }
textarea.form-control {height: 130px; }
/* Headings */
h1 { font-size: 31px; line-height: 38px; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px; text-transform: uppercase;}
h2 { font-size: 20px; font-weight: 500; line-height: 30px; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px;}
h3 { font-size: 18px; font-weight: 600; line-height: 28px; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px;}
h4 { font-size: 16px; font-weight: 600; line-height: 26px; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px;}
h5 { font-size: 100%; font-weight: 600; line-height: normal; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px;}
h6 { font-size: 100%; font-weight: 600; line-height: normal; font-family: 'Roboto', sans-serif !important; margin: 0 0 25px; color: #000; letter-spacing: 1.2px;}

/* Reset Media if needed */
@media(min-width: 767.98px){
  h1 { font-size: 28px; line-height: 34px}
  h2 { font-size: 26px; line-height: 36px;}
  h3 { font-size: 22px; line-height: 32px;}
  h4 { font-size: 18px; line-height: 28px;}
}
@media(min-width: 991.98px){
  h1 { font-size: 35px; line-height: 45px}
  h2 { font-size: 28px;}
  h3 { font-size: 24px;}
  h4 { font-size: 20px;}
}
body.nav-open .top {
  -webkit-transform: translateY(6px) rotateZ(45deg);
  -moz-transform: translateY(6px) rotateZ(45deg);
  -ms-transform: translateY(6px) rotateZ(45deg);
  -o-transform: translateY(6px) rotateZ(45deg);
  transform: translateY(6px) rotateZ(45deg);
}
body.nav-open .bottom {
  -webkit-transform: translateY(-6px) rotateZ(-45deg);
  -moz-transform: translateY(-6px) rotateZ(-45deg);
  -ms-transform: translateY(-6px) rotateZ(-45deg);
  -o-transform: translateY(-6px) rotateZ(-45deg);
  transform: translateY(-6px) rotateZ(-45deg);
}
body.nav-open #header .middle { width: 0;}
body.nav-open{ overflow: hidden; }

/* Header CSS */
.container-custom {max-width: 1600px !important; padding: 0 15px; margin: 0 auto;}
#header .container {max-width: 1600px !important;}
#header .navbar-collapse { -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; display: block !important; background: #171717; position: fixed; width: 260px; right: -270px; padding: 10px; bottom: 0; top: 0; z-index: 9; -webkit-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); }
body.nav-open #wrapper { width: 100%; float: right; position: relative; margin: 0 260px 0 0; }
#header .navbar-nav .nav-link { font: 500 15px/1 'Roboto', sans-serif; text-transform: capitalize !important; transition: all 0.25s ease-in; color: #fff; background: #000; margin: 0;padding: 10px; }
#header .navbar-nav .nav-link:hover,
#header .navbar-nav .nav-item.active .nav-link{color: #fff; background: #000;}
body.nav-open #header .navbar .navbar-collapse { right: 0;}
#header .logo {width: 120px;}
#header .navbar-toggler { width: 40px; border: 0;border-radius: 0; padding: 7px; display: block; cursor: pointer; float: right; background: transparent; margin: 0; }
#header .cart-block{width: 100%;}
#header .cart-block a{ margin: 0 15px; line-height: 20px;line-height: normal; }
#header .navbar {right: 0; width: 40px; height: 35px; padding: 0; position: absolute;}
#header .logo a {transition: none; padding: 0; margin: 0;}
#header {background: transparent;color: #fff; z-index: 9;padding: 15px 0 25px; transition: all .5s;}
#header .bar { height: 2px; width: 100%; display: block; margin: 4px auto; background: #f4b451 !important; border-radius: 0; -webkit-transition: all .7s ease; -moz-transition: all .7s ease; -ms-transition: all .7s ease; -o-transition: all .7s ease; transition: all .7s ease; }
#header .navbar-nav,
#header .navbar-nav .nav-item{ margin: 0; }
body.search-active .form-slide{ top: 57px; display: block; }
#header .btn_append {right: 5px;top: 6px;margin: 0;background: transparent;padding: 0;width: 20px;height: 20px;cursor: pointer;border: none;}
#header .btn_append:before {content: '\e910';font-family: icomoon;font-size: 12px;line-height: 16px;color: #fff;}
#header .current .btn_append:before {content: '\e911';}
#header .site-nav-dropdown{ display: none; padding: 10px 0; margin-top: 0; }
#header .current .site-nav-dropdown{ display: block; }
#header .site-nav-dropdown li a{ display: block; border-bottom: 1px solid #606062; font-size: 14px; line-height: 24px; margin: 0 0 10px; }
.navbar-nav .dropdown-menu {margin: 0; border: none; min-width: 240px !important; background: #fff; -webkit-box-shadow: 0 2px 29px rgb(0 0 0 / 5%);-moz-box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05); box-shadow: 0 2px 29px rgb(0 0 0 / 5%); border-radius: 0; padding: 10px 0;}
.navbar-nav .dropdown-menu .dropdown-item {color: #000; padding: 10px 20px; border-bottom: 1px solid #f5f5f5 !important; font-weight: 500;}
.navbar-nav .dropdown-menu .dropdown-item:last-child{border: none;}
.navbar-nav .dropdown-menu .dropdown-item:hover {background: #f4b451;color: #fff !important;}
#header .navbar-nav li.nav-item:last-child .nav-link { background-color: #f4b451; color: #fff;border: 1px solid #f4b451; padding: 10px;}
#header .navbar-nav li.nav-item:last-child .nav-link:before {display: none;}
#header .navbar-nav li.nav-item:last-child .nav-link:hover {color: #fff; background: #000; border: 1px solid #000;}
button.close {background: transparent; color: #000; position: absolute; right: 5px;outline: none;  border: none; font-size: 30px; line-height: 35px;}


/*sticky header CSS*/
body.darkHeader #header .top-bar {display: none;}
body.darkHeader #header {position: fixed !important;right: 0; left: 0; top: 0;background: #fff;box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);}
body.darkHeader #header .logo {width: 130px;}
body.darkHeader #header .navbar-nav .nav-link {font-size: 16px; line-height: 20px; color: #000;}
body.darkHeader #header .navbar-nav li.nav-item:last-child .nav-link:hover {color: #fff;}
body.darkHeader .logo-black, body .logo-blue {display: block;}
body .logo-black, body.darkHeader .logo-blue {display: none;}
.navbar-toggler:focus {box-shadow: none;}
#header.black-header {background: #fff;}
#header.black-header .navbar-nav .nav-link {color: #000;}
#header.black-header .logo-blue {display: none;}
#header.black-header .logo-black {display: block;}
/* home page css */
.team-item img {margin: 0 auto; width: 100%;}
.team-item {margin: 0 15px;}
/* Media */
@media(min-width: 767.98px) {
  body.search-active .form-slide{ top: 59px; }
}
@media(min-width: 991.98px) {
  #header{padding-top: 20px;padding-bottom: 20px;}
  body.darkHeader #header{padding-top: 10px;padding-bottom: 10px;}
  #header nav.navbar { height: auto; display: block;justify-content: center;align-items: center; position: static;width: 100%;padding: 0;}
  #header .top-bar p {font-size: 16px; line-height: 20px;}
  #header .navbar-collapse {position: static; background-color: transparent; box-shadow: none; width: 100%; padding: 0; }
  #header .logo {position: static; left: 15px; top: 0; width: 220px;}
  #header .navbar-nav .nav-link {background: transparent; color: #fff; font-size: 16px; line-height: 22px;}
  #header .nav-item + .nav-item {margin-left: 15px; position: relative;}
  #header .navbar-nav .nav-link:before {content: ''; position: absolute;  left: auto; right: 0; bottom: 5px; height: 3px;  width: 0; -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;}
  #header .navbar-nav .nav-link:hover:before { width: 100%; left: 0; right: auto;background-color: #e79d2e; }
  #header .navbar-nav .nav-link{padding: 10px 0; border-radius: 2px;letter-spacing: 1px;}
  #header .navbar-nav .nav-link:hover {background-color: transparent;}
  .dropdown-item.active, .dropdown-item:active {background-color: inherit;}
  /*header megamenu*/
  #header.arrow-item .dropdown-menu {min-width: 300px;  padding: 0; display: block; width: 100%; background-color: #f4b451; color: #fff;    top: 90%; border: none;}
  #header.arrow-item .dropdown-menu .dropdown-item {width: 100%; font-size: 18px; line-height: 23px;}
  #header.arrow-item .dropdown-menu .dropdown-item:hover { background-color: #e79d2e;}
  #header.arrow-item .navbar-nav .nav-link,#header.arrow-item .dropdown-item {color: #fff !important;}
  .mega-wrap { max-width: 400px; margin: 0 auto;}
  #header.arrow-item .dropdown-item:hover {color: #fff !important; background-color: transparent;}
  ul.dropdown-menu.show:after { position: absolute; content: '';background: #f4b451; height: 7px; width: 100%; right: 0;left: 0;bottom: 0;}

}
@media(min-width: 1199.98px) {
  #header .nav-item + .nav-item { margin-left: 25px; }
}

.mustard {color: #f4b451;}

/* Visual/Banner CSS */
.visual-banner {padding: 70px 0 20px; background-image: url(../assets/home-visual.jpg); background-size: 100% auto;background-repeat: no-repeat; background-position: top;background-color: #171717;}
.visual-banner.inner-banner:after {position: absolute; content: ''; right: 0; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; background-color: rgb(0, 0, 0, 0.3);}
.visual-banner h1 {color: #fff;font-weight: 800;font-size: 22px;line-height: 28px;margin-bottom: 30px;}
.visual-banner p {font-size: 18px; line-height: 24px; color: #fff;}
.visual-banner br {display: none;}
.visual-content.text-center { position: relative;z-index: 2;}
.visual-banner.inner-banner {display: flex; justify-content: center; align-items: center;background-image: url(../assets/inner-banner.jpg); background-size: cover;}
.visual-banner.inner-banner .visual-content,
.visual-banner.contact-banner .visual-content{transform: none;}
.visual-banner.inner-banner h1 {font-size: 50px; line-height: 60px; font-weight: 800;}
.visual-banner.contact-banner {display: flex; justify-content: center; align-items: center; background-image: url(../assets/bg-contact-form.jpg); background-size: cover;}


/* Media */
@media (min-width: 767.98px) {
  .visual-banner{height: 100vh;}
  .visual-banner.inner-banner,
  .visual-banner.contact-banner {min-height: 400px; height: auto;}
  .visual-banner h1 {font-size: 38px; line-height: 48px;}
  .visual-banner .btn{ margin: 0; }
  .visual-banner br {display: block;}
}
@media(min-width: 991.98px){
  .visual-banner h1 {font-size: 48px;line-height: 58px;margin-bottom: 30px;}
}
@media(min-width: 1199.98px){
  .visual-banner h1 {font-size: 65px; line-height: 75px;}
.visual-content {position: absolute; top: 50%;left: 15px;transform: translateY(-50%); width: 100%; display: flex;flex-direction: column; z-index: 2;}
}


/* Slick arrows CSS */
.slick-arrow {position: absolute;top: 50%;transform: translateY(-50%);width: 42px;height: 48px; line-height: 71px; background: transparent; z-index: 9;}
.slick-prev.slick-arrow {left: 25px;}
.slick-next.slick-arrow {right: 25px;}
.slick-prev:before,
.slick-next:before{ font-family: 'icomoon'; color: #747371; font-size: 30px; }
.slick-prev:before{ content: '\e903'; }
.slick-next:before{ content: '\e902'; }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{ background: transparent; }
.slick-slider {margin-bottom: 0;}
.slick-dots li button {border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0;font-size: 0; color: transparent; padding: 0; cursor: pointer; }
.slick-dots li {position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer;}
.slick-slider .slick-dots { margin: 0; bottom: -37px;}
.slick-dots { list-style: none; display: block; text-align: center; padding: 0; width: 100%;}
/* Slick Dots CSS */
.slick-slider .slick-dots li button {position: relative;}
.slick-slider .slick-dots li button:before {background-color: transparent; border-color: #fff; 
    border: 2px solid transparent;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;position: absolute;
    top: 0;
    left: 0;
    content: "\2022";font-family: "slick-icons, sans-serif";
    font-size: 6px;
    line-height: 20px;
    text-align: center;}
.slick-slider .slick-dots li.slick-active button:before{ border-color: #fff;     background: #fff;}
.slick-dots {position: static; padding: 50px 0 0;}
.slick-slider .slick-dots li.slick-active button:before {border-color: #f4b451; background: #f4b451;opacity: 1;
    width: 20px;
    height: 20px;
    margin: 0;}
.slick-slider .slick-dots li button:before {border-color: #cfcfcf;background: #cfcfcf;}

/*bottom line css*/

.bottom-line {position: relative;}
.bottom-line:after {position: absolute; content: ''; bottom: -10px; right: 0; left: 0; margin: 0 auto; background-color: #f4b451; height: 3px; width: 50px;}



/*What we do styles*/
section.what-we-do{padding: 50px 0;}
.content p {color: #000;}
/*Media*/
@media(min-width: 991.98px){
  section.what-we-do{padding: 100px 0;}
}

/*our best work Styles*/
.item { margin: 0 10px;}
.item img {margin: 0 auto;}
.our-best-work h1 {font-size: 30px; line-height: 36px;}
.team-slider .col {padding: 0 15px;}
@media(min-width: 991.98px) {
  .our-best-work h1 {font-size: 40px; line-height: 46px;}

}

/*View projects styles*/
.view-projects {padding: 50px 0;}
.view-projects .img-hol img{border-radius: 5px;}
.view-projects .heading {padding-bottom: 80px;}
.view-projects h2 {font-size: 20px; line-height: 30px;}
ul.check-project li{position: relative; padding-left: 35px; margin-bottom: 30px;}
ul.check-project li:before {position: absolute; content: "\e901"; left: 0; top: 0; font-family: 'icomoon'; font-size: 25px; color: #f4b451;}

/*Media*/
@media(min-width: 767.98px) {
  .view-projects h2 {font-size: 36px; line-height: 40px;}
}
@media(min-width: 991.98px){
  .view-projects {padding: 100px 0;}
 .view-projects .heading {padding-bottom: 100px;}
}

/*core-services styles*/
.core-services {padding: 50px 0; background: #232427 url(../assets/services-banner.jpg); background-position: center; background-size: cover; color: #fff;}
.core-services h2,  .core-services h1, .core-services .content p{color: #fff;}
.core-services:after {position: absolute; content: ''; background-color: rgba(0, 0, 0, 0.8); top: 0; right: 0; bottom: 0; left: 0; width: 100%;}
ul.services li {position: relative; padding: 25px 0; border-top: 1px solid #fff;}
ul.services li:last-child {border-bottom: 1px solid #fff;}
ul.services li:after {position: absolute;content: "\e904"; right: 0; top: 50%; font-family: 'icomoon'; font-size: 17px; color: #fff;transform: translateY(-50%);}
.core-services .btn-hol { padding: 30px 0;}
.core-services h1 {font-size: 30px; line-height: 35px;}
.core-services h2 {letter-spacing: 5px; font-size: 22px; line-height: 27px;}
.services-wrap, .core-services .title {z-index: 1;}
.services li a {color: #fff; display: block;}
/*Media*/
@media(min-width: 767.98px) {
  .core-services h1 {font-size: 40px; line-height: 45px;}
  
}
@media(min-width: 991.98px){
  .core-services {padding: 100px 0;}
}

/*Meet our heros styles*/
.heros {padding: 50px 0;}
.heros .heading {max-width: 700px; margin: 0 auto;}
.team-content { bottom: 15px; right: 0; left: 0; text-align: center; color: #fff; z-index: 9;}
.team-item:after { position: absolute; content: '';background-color: rgba(0, 0, 0, 0.2); right: 0;left: 0; top: 0;bottom: 0; z-index: 1;}
.heros .slick-slider .slick-dots {padding-bottom: 0;}

/*Media*/
@media(min-width: 991.98px){
  .heros {padding: 100px 0;}
}

/*Testimonials styles*/
.testimonials {background-color: #f1f1f1; padding: 50px 0;}
.testimonial-wrap .img-hol {height: 84px; max-width: 84px;border-radius: 100%; overflow: hidden; margin: 0 auto;}
.testimonial-wrap .img-hol img {height: 100%; object-fit: cover;}
.testimonial-wrap {text-align: center; padding: 20px; background-color: #fff; border-radius: 8px;-webkit-box-shadow: 0px 0px 8px 5px rgba(231,231,231,1);
-moz-box-shadow: 0px 0px 8px 5px rgba(231,231,231,1);
box-shadow: 0px 0px 8px 5px rgba(231,231,231,1);}
.icon-star {color: #ffbf00;}
.testimonial-wrap p {font-size: 15px; line-height: 20px;}
.testimonials .slick-track {padding: 15px 0;}
.testimonial-wrap .name-block {margin-bottom: 20px;}
.testimonial-slider .col {padding: 0 15px;}
/*Media*/
@media(min-width: 991.98px){
  .testimonials {padding: 100px 0;}
}


/*Trusted companioins styles*/
.heading p {font-size: 20px; line-height: 25px;}
ul.logo-list li{flex: 1 1 20.33%; width: 20%; border: 1px solid #ccc;  margin: 10px;}
section.companions {padding: 50px 0;}

/*Media*/
@media(min-width: 991.98px){
  section.companions {padding: 100px 0;}
}

/*Lets Talk*/
.lets-talk {padding: 50px 0 0; background-color: #f1f1f1;}
.lets-talk:after {position: absolute; content: ''; bottom: -100px; right: 0; left: 0; background-image: url(../assets/talk-border.png); background-size: cover; background-position: center center; width: 100%; height: 100px;}
.talk-form .form-group {margin-bottom: 20px;}
.lets-talk .img-hol {max-width: 350px; margin: 0 auto;}

/*Media*/
@media(min-width: 991.98px){
  .lets-talk {padding: 100px 0 30px;}
}
@media(min-width: 1199.98px){
  .lets-talk:after {bottom: -125px; height: 143px;}
}



/*consultant expersts CSS*/
.consultant {padding: 140px 0;}

/*Media*/
@media(min-width: 991.98px){
  .consultant {padding: 100px 0;}
}

@media(min-width: 1199.98px){
    .consultant {padding: 200px 0 100px;}
    .consultant.flutter-develop {padding: 50px 0 100px;}

}


/*Modal design */
.modal {z-index: 99999; }
.modal-content {background-color: #f1f1f1;}
.modal .lets-talk:after {display: none;}
.modal .btn { padding: 6px 20px;min-width: 100px;font-size: 18px !important;}
.modal h1 {font-size: 18px; line-height: 25px;}
.modal .lets-talk {padding: 0;}
.close:hover {background-color: transparent;}
/*Media*/
@media (min-width: 576px){
  .modal-dialog {max-width: 900px;}
}
@media (min-width: 991.98px) {
  .modal h1 {font-size: 29px; line-height: 35px;}

}

/* Footer CSS */
#footer {background: #232427;padding: 50px 0 0;font: 300 16px/22px 'Open Sans', sans-serif !important;}
#footer .link-hol {margin: 0 0 24px;}
#footer .logo {max-width: 150px;}
#footer .ulwithicons {margin-left:0;}
#footer .footer-links-box li {    font-weight: 400;position: relative;text-transform: capitalize;color: #fff;font-size: 16px;line-height: 22px;margin: 0 0 15px;}
#footer .footer-links-box li a {position: relative;text-transform: capitalize;color: #fff;font-size: 16px;line-height: 22px;}
#footer .link-hol .icons {margin: 0 10px 0 0;font-size: 18px;line-height: normal;position: absolute;left: -30px;top: 50%;transform: translateY(-50%);}
#footer .footer-links-box .title {position: relative; color: #fff;margin: 0 0 30px;font: 500 22px/1.5 'Open Sans', sans-serif !important;}
#footer input.form-control {margin: 0 0 10px;background:#fff;height: 53px;padding: 0 15px;color:#77777e;font-weight: 300;border-radius: 0;}
#footer button.button {-webkit-transition: all 0.25s linear;-o-transition: all 0.25s linear;transition: all 0.25s linear;top: 0;right: 0;border: none;bottom: 0;width: 100%;font-size: 18px;font-weight: 500; line-height: 53px;background: #f4b451;}
#footer button.button:hover{background: #000;}
#footer .social li {width: 30px;height: 30px;border-radius: 100%;line-height: 35px;text-align: center;margin: 0;}
#footer .social li + li{margin-left: 30px;}
#footer .social li a {font-size: 20px;line-height: normal;}
#footer .copyright-hol {padding: 20px 0;border-top: 1px solid rgba(255,255,255,.1);}
#footer p,
#footer a {color: #fff;}
#footer a:hover{color: #f4b451 !important;}
#footer .terms li{margin: 0 10px;}
#footer .terms li:before {content: '';position: absolute;top: 4px;left: -10px;background: #fff;width: 1px;height: 15px;}
#footer .terms li:first-child:before{display: none;}
.copyright a {color: #f4b451 !important;}
/* Media */
@media(min-width: 767.98px) {
  #footer{ padding-bottom: 0; }
  #footer input.form-control {padding-right: 145px;margin: 0;}
  #footer button.button {position: absolute;right: 0;top: 0;width: 135px;height: 100%;line-height: 47px;font-size: 16px; color: #fff;}
  #footer{padding-top: 70px;}
}
@media(min-width: 991.98px) {
  #footer .link-hol {margin: 0;}
}
@media(min-width: 1199.98px) {
  #footer .footer-links-box .title {margin-bottom: 40px;}
  #footer button.button{width: 130px;}
  #footer input.form-control{padding-right: 190px;}
}

/*Other pages*/

/*PPC Pages Styles*/
.light-blue {background-color: #f4f5f6;}
.service-wrap {padding: 20px 15px; border: 1px solid #ccc; border-radius: 5px; height: 100%;}
.advertising-service {padding: 50px 0;}
.service-wrap strong.title { font-size: 22px;line-height: 30px;}
.service-wrap p {font-size: 14px; line-height: 27px;}
/* Media */
@media(min-width: 767.98px) {
	.advertising-service {padding: 100px 0;}

}

/*management-services styles*/
.management-services {padding: 50px 0;}
.managemnt-wrap {background-color: #f4f5f6; padding: 50px 20px; border: 1px solid #ccc; border-radius: 5px;}
ul.check-project li:last-child {margin-bottom: 0;}
/* Media */
@media(min-width: 767.98px) {
	.management-services {padding: 100px 0;}
}


/*Consultant styles*/
.consultant .heading p {color: #000; font-size: 25px; line-height: 30px;}

/*Accordian style*/
.advertising-accordian h1 {color: #fff;}
button.accordion-button {color: #717274; font-weight: 900; font-size: 25px; line-height: 30px;}
.accordion-button:not(.collapsed) {color: #f4b451; background-color: transparent;}
.accordion-body {color: #fff;}
.accordion-button:focus {border-color: transparent;box-shadow: none;}
button.accordion-button:hover { background: transparent;}
.accordion-button:not(.collapsed)::after {background-image: none;}
.accordion-button::after {position: absolute; font-family: 'icomoon';right: 15px !important;content: "\e909"; top: 25px; font-size: 20px;}

/* Media */
@media(min-width: 767.98px) {
  .advertising-accordian {padding: 100px 0;}
}

/*shopify-benefits CSS*/
.shopify-benefits {padding: 50px 0;}

/* Media */
@media(min-width: 767.98px) {
  .shopify-benefits {padding: 100px 0;}
}


/*Magento Styles*/
.logo-magento { max-width: 70px;}
.bg-grey {background-color: #f2f2f2;}

/* Media */
@media(min-width: 767.98px) {
  .logo-magento {max-width: 130px;}
}
@media(min-width: 1199.98px) {
  .consultant.consultant-custom {padding: 100px 0;}
}

/*seo-pricing styles*/
.seo-pricing {padding: 50px 0;}
.card-deck { padding: 80px 0 0;}
.card-deck h4 {font-size: 30px; line-height: 44px;color: #fff;}
.card-deck .card-header {padding: 20px 10px; border: none;  }
.card-deck .card-body span {font-weight: 900; font-size: 18px; line-height: 30px; color: #000;}
.card-deck .card-body span.plans {font-weight: 400; font-size: 20px; line-height: 25px;}
.bg-mastard {background-color: #f4b451;}
.bg-black {background-color: #232427;}
.pricing-card-title {font-size: 35px; line-height: 40px; font-weight: 900;}
.card-deck .card.box-shadow { margin: 0 15px; -webkit-box-shadow: 0px 0px 8px 5px rgba(231,231,231,1); -moz-box-shadow: 0px 0px 8px 5px rgba(231,231,231,1); box-shadow: 0px 0px 8px 5px rgba(231,231,231,1);}
/* Media */
@media(min-width: 767.98px) {
  .seo-pricing {padding: 100px 0;}
  .card-deck {display: flex;}
}

/* Contact us page */
.contact-block {padding: 50px 0; background-color: #f2f2f2;}
.contact-block ul.ulwithicons li {margin-bottom: 15px;}
.form-control.textarea {height: auto;}
@media(min-width: 767.98px){
  .contact-block {padding: 100px 0;}
}

/* Work page */
ul.branding-list li {color: #f4b451; font-weight: 700;  font-size: 17px; letter-spacing: 0.22rem;text-transform: uppercase; margin-right: 1.5rem;  line-height: 1.75;}
.project-title h2 {position: relative; text-transform: capitalize; color: rgb(135, 135, 135);font-size: 40px; line-height: 45px; font-weight: 800; margin-top: 1rem; transition: color 0.25s ease 0s;}
.project-title p {color: rgb(135, 135, 135);font-weight: 300;font-size: 22px; line-height: 35px;}
.ourwork-block h1 {font-size: 50px; line-height: 54px; margin-bottom: 50px;color: #f4b451; font-weight: 800;}
.work-shell {padding: 30px 10px;}
.ourwork-block {padding: 50px 0;}
.work-shell .img-block {overflow: hidden;  border: 1px solid #f5f5f5;}
.work-shell .img-block img {transition: transform 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;}
.work-shell a:hover .img-block img {transform: scale(1.05);}
.project-title h2:before { content: ''; position: absolute; left: auto; right: 0; bottom: 5px;height: 3px; width: 0;-webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; transition: width 0.6s }

.work-shell a:hover .project-title h2 {color: #f4b451;}
@media(min-width: 991.98px){
  .ourwork-block {padding: 50px 0;}
  .ourwork-block h1 {font-size: 60px; line-height: 65px;}
}

/* Work detail css */
.work-detail-block {padding: 100px 0;}
.site-title h1 { font-size: 3.5rem; line-height: 1; letter-spacing: -0.075rem;}
.brief-content-wrap p {color: rgb(135, 135, 135); font-weight: 300; font-size: 20px; line-height: 1.75; white-space: pre-line;}
.inner-head h2 { color: rgb(135, 135, 135); font-size: 3rem; margin-bottom: 30px; line-height: 1;}
span.item-title.mustard { font-size: 25px; line-height: 30px; font-weight: 800; margin-bottom: 20px;}
ul.info-list li { color: rgb(135, 135, 135); margin-bottom: 15px;font-size: 18px; line-height: 23px;}
.info-item {margin-bottom: 20px;}
@media(min-width: 991.98px) {
  .site-title h1 {font-size: 5.5rem; line-height: 1; font-weight: 800; text-transform: capitalize;}
  .inner-head h2 {font-size: 4rem; line-height: 1;}
  .work-detail-side { padding: 40px 30px;}

}
/* Clinets page CSS */
.ourwork-block.client-wrap-block {padding-bottom: 0;}
.client-wrap-block .testimonial-wrap {margin-bottom: 30px;}
.client-wrap-block .col-md-6 {padding: 0 30px;}
.companions.client-companies {padding: 60px 0;}