<section class="visual-banner overflow-hidden position-relative m-auto">
  <div class="container-custom position-relative h-100">
    <div class="visual-content text-center">
      <!-- <h1 class="mb-3 mb-md-4 text-uppercase"><span class="mustard">Next-level</span> Digital Marketing Agency <br>For Catering To Your Business Needs</h1> -->
      <h1><span class="mustard">Digital Solutions</span><br> For All Your Business Problems</h1>
      <!-- <h1><span class="mustard">Tailored Digital Solutions</span><br> To Overcome Tough Marketing Challenges</h1> -->
      <div class="btn-hol">
        <a href="#" class="btn btn-primary text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
      </div>
  </div>
</div>
</section>
<main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="lets-talk position-relative">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="talk-wrap">
                  <h2 class="text-center mb-3 mb-lg-5">Let’s tALK</h2>
                  <div class="img-hol mb-5 mb-md-0">
                    <img src="assets/talk-img.png" alt="talk image">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="talk-wrap">
                  <h1 class="mb-3 mb-lg-5">We’d love to work with you.</h1>
                  <div class="talk-form">
                    <app-contact-form></app-contact-form>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<section class="what-we-do overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="heading text-center">
          <h1 class="bottom-line">How We Are Different</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <p>We believe that every brand is different and works within their own set of boundaries. Hence,
            there is a need for tailored services that can help them manage their day-to-day marketing
            tasks. <b>Tecknohus</b> work closely with businesses and help them in achieving their goals to stand
            out in the market. We aim to provide stellar services that can help you increase your ROI and
            beat the market’s competition. <b>We are famous for delivering spot-on services like web
            development and web designing, PPC, SEO, and Shopify management.</b></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-best-work overflow-hidden">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center mb-5">
          <h1 class="bottom-line">Our Best Work</h1>
        </div>
        <div class="best-slider-block">
          <ngx-slick-carousel class="carousel " 
                      #slickModal="slick-carousel" 
                      [config]="slideConfigbest">
                      <div ngxSlickItem *ngFor="let slide of bestslider" class="item">
                          <img src="{{ slide.img }}" alt="best image">
                        </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="view-projects overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading text-center">
          <h1 class="text-uppercase bottom-line">view projects</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="title mb-5">
          <h2 class="text-capitalize">We generate revenue <br>for your business</h2>
        </div>
        <div class="content mb-5">
          <ul class="check-project">
            <li>Filled with the smart, artistic, and passionate people.</li>
            <li>Create enticing digital strategies powered with engaging content.</li>
            <li>Experts in marketing design and development services.</li>
          </ul>
        </div>
        <div class="btn-hol">
          <a href="JavaScript:;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Free Estimation</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-hol">
          <img src="assets/project1.jpg" alt="project image">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="core-services overflow-hidden position-relative">
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="title text-center bottom-line position-relative"><h2>EXPERTISE</h2></div>
    </div>
    <div class="col-md-7">
      <div class="services-wrap position-relative">
        <div class="heading">
          <h1>Our Skills and Expertise</h1>
        </div>
        <div class="content">
          <p class="mb-5">By incorporating leading software and proven marketing strategies, we enable you to wow your
            clientele with our website development, designing, content marketing, and SEO services.</p>
          <ul class="services">
            <li><a href="javascript:;"> Email Marketing</a></li>
            <li><a href="javascript:;">Facebook and Instagram Ads</a></li>
            <li><a href="javascript:;">Branding</a></li>
            <li><a href="javascript:;">Shopify Stores</a></li>
          </ul>
        </div>
        <div class="btn-hol">
          <a href="JavaScript:;" class="btn text-uppercase">View all services</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="heros overflow-hidden">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="heading text-center mb-5">
        <h1 class="bottom-line">Meet Our Expert Team</h1>
        <p>We have a group of digital experts, who can help the client in every step of their journey. The experts
          enable global businesses to find better solutions for their brands. Are you convinced? Let's join!</p>
      </div>
    </div>
  </div>
  <div class="row team-slider">
    <div class="col">
      <ngx-slick-carousel class="carousel " 
              #slickModal="slick-carousel" 
              [config]="slideConfighero">
              <div ngxSlickItem *ngFor="let slide of heroslider" class="team-item position-relative">
                  <img src="{{ slide.img }}" alt="best image">
                  <div class="team-content position-absolute">
                      <strong class="name d-block">{{ slide.name }}</strong>
                      <span class="d-block designation">{{ slide.designation }}</span>
                    </div>
              </div>
      </ngx-slick-carousel>
    </div>
  </div>
 </div>
</section>

<section class="testimonials overflow-hidden">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading text-center mb-5">
        <h1 class="bottom-line">Testimonials</h1>
        <p class="text-uppercase">Know some of our trusted clients and know we helped them achieve the top spot in the market.</p>
      </div>
    </div>
  </div>
  <div class="row testimonial-slider">
    <div class="col">
      <ngx-slick-carousel class="carousel " 
              #slickModal="slick-carousel" 
              [config]="slideConfigtestimonial">
              <div ngxSlickItem *ngFor="let slide of testimonialslider" class="col position-relative">
                  <div class="testimonial-wrap">
                      <div class="img-hol mb-4"><img src="{{ slide.img }}" alt="testimonial-img"></div>
                      <div class="name-block">
                        <strong class="name d-block mb-3">{{ slide.name }}</strong>
                        <div class="star d-inline">
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                        </div>
                      </div>
                      <div class="testimonial-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                      </div>
                    </div>
              </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
</section>

<section class="companions overflow-hidden">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="heading text-center">
        <h1 class="bottom-line">Trusted by the World’s Best Companies</h1>
        <p class="text-uppercase">Meet the world visionaries who partnered with <b>Tecknohus</b> and brought life to their businesses.</p>
      </div>
    </div>
  </div>
  <div class="row logo-slider">
    <div class="col-12">
      <div class="logo-wrap">
        <ngx-slick-carousel class="carousel " 
              #slickModal="slick-carousel" 
              [config]="slideConfiglogolist">
              <div ngxSlickItem *ngFor="let slide of logolistslider" class="col position-relative">
                <ul class="d-flex logo-list flex-wrap">
                  <li>
                    <img src="assets/logo1.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo2.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo3.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo4.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo5.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo6.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo7.png" alt="logo image" class="m-auto">
                  </li>
                  <li>
                    <img src="assets/logo8.png" alt="logo image" class="m-auto">
                  </li>
                </ul>
              </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div> 
</div>
</section>

<section class="lets-talk position-relative">
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="talk-wrap">
        <h2 class="text-center mb-5 bottom-line">Let’s tALK</h2>
        <div class="img-hol">
          <img src="assets/talk-img.png" alt="talk image">
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="talk-wrap">
        <h1 class="mb-5">We’d love to work with you.</h1>
        <div class="talk-form">
          <app-contact-form></app-contact-form>
          <!-- <form>
            <div class="form-group">
              <label for="name">Name*</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email*</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" id="subject">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Now!</button>
          </form> -->
        </div>  
      </div>
    </div>
  </div>
</div>
</section>

<section class="consultant">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="heading">
        <h1>Get in contact and discuss business opportunities with our representatives. Reach out to us today and
          envision your dream for a successful business!</h1>
      </div>
      <div class="btn-hol">
        <a href="JavaScript;:" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Request a Proposal</a>
      </div>
    </div>
  </div>
</div>
</section>

</main>